<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Automation Suite" parallel="methods" thread-count="4" verbose="1">
    <listeners>
        <listener class-name="com.naman.framework.listeners.ExtentReportListener"/>
        <listener class-name="com.naman.framework.listeners.RetryListener"/>
    </listeners>
    <test name="User API Tests">
        <classes>
            <class name="com.naman.tests.UserApiTest"/>
        </classes>
    </test>
    <test name="Auth API Tests">
        <classes>
            <class name="com.naman.tests.AuthApiTest"/>
        </classes>
    </test>
</suite>
